In [212]:
import pandas as pd

In [213]:
df = pd.read_csv('Environment_Temperature_change_E_All_Data_NOFLAG.csv', encoding='cp1252')
df

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,7001,January,7271,Temperature change,°C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,°C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,°C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,°C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,°C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9651,5873,OECD,7018,Jun–Jul–Aug,6078,Standard Deviation,°C,0.247,0.247,0.247,...,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247
9652,5873,OECD,7019,Sep–Oct–Nov,7271,Temperature change,°C,0.036,0.461,0.665,...,0.958,1.106,0.885,1.041,0.999,1.670,1.535,1.194,0.581,1.233
9653,5873,OECD,7019,Sep–Oct–Nov,6078,Standard Deviation,°C,0.378,0.378,0.378,...,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378
9654,5873,OECD,7020,Meteorological year,7271,Temperature change,°C,0.165,-0.009,0.134,...,1.246,0.805,1.274,0.991,0.811,1.282,1.850,1.349,1.088,1.297
9655,5873,OECD,7020,Meteorological year,6078,Standard Deviation,°C,0.260,0.260,0.260,...,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260

## How many countries

In [214]:
df['Area'].nunique()

284

In [215]:
df['Area'].value_counts()

Afghanistan                  34
Saint Pierre and Miquelon    34
Senegal                      34
Saudi Arabia                 34
Sao Tome and Principe        34
                             ..
Honduras                     34
Hungary                      34
Iceland                      34
India                        34
OECD                         34
Name: Area, Length: 284, dtype: int64

In [216]:
df[df['Area'] == 'Egypt']

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
2312,59,Egypt,7001,January,7271,Temperature change,°C,1.035,0.700,1.803,...,3.064,1.184,-1.023,1.464,1.885,0.214,0.170,0.174,0.875,-0.323
2313,59,Egypt,7001,January,6078,Standard Deviation,°C,0.916,0.916,0.916,...,0.916,0.916,0.916,0.916,0.916,0.916,0.916,0.916,0.916,0.916
2314,59,Egypt,7002,February,7271,Temperature change,°C,-1.947,-0.896,1.141,...,3.281,1.592,-0.037,1.180,1.169,0.216,1.522,-0.877,3.316,-0.213
2315,59,Egypt,7002,February,6078,Standard Deviation,°C,1.253,1.253,1.253,...,1.253,1.253,1.253,1.253,1.253,1.253,1.253,1.253,1.253,1.253
2316,59,Egypt,7003,March,7271,Temperature change,°C,-2.072,2.792,-0.604,...,2.836,0.094,-1.103,2.602,1.614,1.254,2.194,0.224,3.811,-0.665
2317,59,Egypt,7003,March,6078,Standard Deviation,°C,1.295,1.295,1.295,...,1.295,1.295,1.295,1.295,1.295,1.295,1.295,1.295,1.295,1.295
2318,59,Egypt,7004,April,7271,Temperature change,°C,-0.391,-0.691,0.902,...,1.714,-0.238,1.545,-0.084,1.799,-0.997,0.010,0.568,1.960,-0.276
2319,59,Egypt,7004,April,6078,Standard Deviation,°C,0.807,0.807,0.807,...,0.807,0.807,0.807,0.807,0.807,0.807,0.807,0.807,0.807,0.807
2320,59,Egypt,7005,May,7271,Temperature change,°C,-0.313,-0.666,-0.137,...,0.551,0.192,1.272,1.931,1.013,-0.044,1.510,1.077,2.709,1.260
2321,59,Egypt,7005,May,6078,Standard Deviation,°C,0.844,0.844,0.844,...,0.844,0.844,0.844,0.844,0.844,0.844,0.844,0.844,0.844,0.844
2322,59,Egypt,7006,June,7271,Temperature change,°C,1.803,0.549,0.518,...,1.592,0.159,1.651,0.644,0.460,-0.203,2.381,1.013,1.784,1.912
2323,59,Egypt,7006,June,6078,Standard Deviation,°C,0.748,0.748,0.748,...,0.748,0.748,0.748,0.748,0.748,0.748,0.748,0.748,0.748,0.748
2324,59,Egypt,7007,July,7271,Temperature change,°C,-0.477,0.260,0.580,...,1.716,1.511,2.181,-0.028,1.457,0.921,1.479,2.002,1.610,2.132
2325,59,Egypt,7007,July,6078,Standard Deviation,°C,0.514,0.514,0.514,...,0.514,0.514,0.514,0.514,0.514,0.514,0.514,0.514,0.514,0.514
2326,59,Egypt,7008,August,7271,Temperature change,°C,-0.254,1.282,0.666,...,2.522,0.986,1.526,1.076,1.962,3.424,1.495,2.302,1.897,1.824
2327,59,Egypt,7008,August,6078,Standard Deviation,°C,0.712,0.712,0.712,...,0.712,0.712,0.712,0.712,0.712,0.712,0.712,0.712,0.712,0.712
2328,59,Egypt,7009,September,7271,Temperature change,°C,-2.042,0.391,0.929,...,2.307,0.858,0.829,1.200,1.597,3.296,1.497,1.357,1.790,1.334
2329,59,Egypt,7009,September,6078,Standard Deviation,°C,0.917,0.917,0.917,...,0.917,0.917,0.917,0.917,0.917,0.917,0.917,0.917,0.917,0.917
2330,59,Egypt,7010,October,7271,Temperature change,°C,-1.508,1.110,1.550,...,3.053,0.175,1.707,-1.117,0.038,2.120,1.236,-0.407,1.152,2.033
2331,59,Egypt,7010,October,6078,Standard Deviation,°C,1.166,1.166,1.166,...,1.166,1.166,1.166,1.166,1.166,1.166,1.166,1.166,1.166,1.166
2332,59,Egypt,7011,November,7271,Temperature change,°C,-0.722,3.180,0.359,...,2.808,-1.758,1.771,1.926,0.589,1.232,1.710,-0.275,0.663,2.060
2333,59,Egypt,7011,November,6078,Standard Deviation,°C,1.231,1.231,1.231,...,1.231,1.231,1.231,1.231,1.231,1.231,1.231,1.231,1.231,1.231
2334,59,Egypt,7012,December,7271,Temperature change,°C,-0.044,0.156,0.934,...,2.023,0.037,0.832,0.348,1.931,0.262,-0.847,2.198,0.313,0.854
2335,59,Egypt,7012,December,6078,Standard Deviation,°C,1.209,1.209,1.209,...,1.209,1.209,1.209,1.209,1.209,1.209,1.209,1.209,1.209,1.209
2336,59,Egypt,7016,Dec–Jan–Feb,7271,Temperature change,°C,1.097,-0.080,1.033,...,2.631,1.600,-0.341,1.159,1.134,0.787,0.651,-0.517,2.130,-0.074
2337,59,Egypt,7016,Dec–Jan–Feb,6078,Standard Deviation,°C,0.663,0.663,0.663,...,0.663,0.663,0.663,0.663,0.663,0.663,0.663,0.663,0.663,0.663
2338,59,Egypt,7017,Mar–Apr–May,7271,Temperature change,°C,-0.925,0.478,0.054,...,1.700,0.016,0.571,1.483,1.475,0.071,1.238,0.623,2.827,0.106
2339,59,Egypt,7017,Mar–Apr–May,6078,Standard Deviation,°C,0.526,0.526,0.526,...,0.526,0.526,0.526,0.526,0.526,0.526,0.526,0.526,0.526,0.526
2340,59,Egypt,7018,Jun–Jul–Aug,7271,Temperature change,°C,0.357,0.697,0.588,...,1.943,0.885,1.786,0.564,1.293,1.381,1.785,1.772,1.764,1.956
2341,59,Egypt,7018,Jun–Jul–Aug,6078,Standard Deviation,°C,0.433,0.433,0.433,...,0.433,0.433,0.433,0.433,0.433,0.433,0.433,0.433,0.433,0.433
2342,59,Egypt,7019,Sep–Oct–Nov,7271,Temperature change,°C,-1.424,1.560,0.946,...,2.723,-0.242,1.436,0.670,0.741,2.216,1.481,0.225,1.202,1.809
2343,59,Egypt,7019,Sep–Oct–Nov,6078,Standard Deviation,°C,0.845,0.845,0.845,...,0.845,0.845,0.845,0.845,0.845,0.845,0.845,0.845,0.845,0.845
2344,59,Egypt,7020,Meteorological year,7271,Temperature change,°C,-0.224,0.664,0.655,...,2.249,0.565,0.863,0.969,1.161,1.114,1.289,0.526,1.981,0.949
2345,59,Egypt,7020,Meteorological year,6078,Standard Deviation,°C,0.364,0.364,0.364,...,0.364,0.364,0.364,0.364,0.364,0.364,0.364,0.364,0.364,0.364

In [217]:
df[['Area', 'Months']].describe()

               Area   Months
count          9656     9656
unique          284       17
top     Afghanistan  January
freq             34      568

#### Each country has 34 rows

In [218]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9656 entries, 0 to 9655
Data columns (total 66 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     9656 non-null   int64
 1   Area          9656 non-null   object
 2   Months Code   9656 non-null   int64
 3   Months        9656 non-null   object
 4   Element Code  9656 non-null   int64
 5   Element       9656 non-null   object
 6   Unit          9656 non-null   object
 7   Y1961         8287 non-null   float64
 8   Y1962         8322 non-null   float64
 9   Y1963         8294 non-null   float64
 10  Y1964         8252 non-null   float64
 11  Y1965         8281 non-null   float64
 12  Y1966         8364 non-null   float64
 13  Y1967         8347 non-null   float64
 14  Y1968         8345 non-null   float64
 15  Y1969         8326 non-null   float64
 16  Y1970         8308 non-null   float64
 17  Y1971         8303 non-null   float64
 18  Y1972         8323 non-null   float64
 19  Y1973         8394 non-null   float64
 20  Y1974         8374 non-null   float64
 21  Y1975         8280 non-null   float64
 22  Y1976         8209 non-null   float64
 23  Y1977         8257 non-null   float64
 24  Y1978         8327 non-null   float64
 25  Y1979         8290 non-null   float64
 26  Y1980         8283 non-null   float64
 27  Y1981         8276 non-null   float64
 28  Y1982         8237 non-null   float64
 29  Y1983         8205 non-null   float64
 30  Y1984         8259 non-null   float64
 31  Y1985         8216 non-null   float64
 32  Y1986         8268 non-null   float64
 33  Y1987         8284 non-null   float64
 34  Y1988         8273 non-null   float64
 35  Y1989         8257 non-null   float64
 36  Y1990         8239 non-null   float64
 37  Y1991         8158 non-null   float64
 38  Y1992         8354 non-null   float64
 39  Y1993         8315 non-null   float64
 40  Y1994         8373 non-null   float64
 41  Y1995         8409 non-null   float64
 42  Y1996         8439 non-null   float64
 43  Y1997         8309 non-null   float64
 44  Y1998         8370 non-null   float64
 45  Y1999         8324 non-null   float64
 46  Y2000         8342 non-null   float64
 47  Y2001         8241 non-null   float64
 48  Y2002         8312 non-null   float64
 49  Y2003         8390 non-null   float64
 50  Y2004         8415 non-null   float64
 51  Y2005         8424 non-null   float64
 52  Y2006         8503 non-null   float64
 53  Y2007         8534 non-null   float64
 54  Y2008         8475 non-null   float64
 55  Y2009         8419 non-null   float64
 56  Y2010         8435 non-null   float64
 57  Y2011         8437 non-null   float64
 58  Y2012         8350 non-null   float64
 59  Y2013         8427 non-null   float64
 60  Y2014         8377 non-null   float64
 61  Y2015         8361 non-null   float64
 62  Y2016         8348 non-null   float64
 63  Y2017         8366 non-null   float64
 64  Y2018         8349 non-null   float64
 65  Y2019         8365 non-null   float64
dtypes: float64(59), int64(3), object(4)
memory usage: 4.9+ MB

#### Create column for length NUN in each row

In [219]:
index = df.index
addlist = []
for i in index:
    addlist.append(df.loc[[i]].isna().sum().sum())

In [220]:
df['add'] = addlist

In [221]:
df['add'].describe()

count    9656.000000
mean        8.088546
std        17.118000
min         0.000000
25%         0.000000
50%         0.000000
75%         3.000000
max        59.000000
Name: add, dtype: float64

#### Drop each row has more 25 NUN

In [222]:
drop = df[df['add'] > 25].index

In [223]:
df.drop(drop, axis= 0, inplace=True)

In [224]:
df.isna().sum().tail(55)

Y1966     51
Y1967     51
Y1968     41
Y1969     38
Y1970     56
Y1971     68
Y1972     37
Y1973     17
Y1974     41
Y1975    121
Y1976    152
Y1977    130
Y1978     64
Y1979     79
Y1980     86
Y1981     97
Y1982    108
Y1983    128
Y1984     75
Y1985    119
Y1986     68
Y1987     38
Y1988     59
Y1989     90
Y1990     70
Y1991    132
Y1992    237
Y1993    215
Y1994    161
Y1995    134
Y1996     92
Y1997    235
Y1998    174
Y1999    208
Y2000    228
Y2001    312
Y2002    248
Y2003    186
Y2004    163
Y2005    142
Y2006     82
Y2007     61
Y2008    112
Y2009    164
Y2010    152
Y2011    187
Y2012    254
Y2013    190
Y2014    239
Y2015    256
Y2016    267
Y2017    251
Y2018    266
Y2019    239
add        0
dtype: int64

____________________________________

In [225]:
df.columns

Index(['Area Code', 'Area', 'Months Code', 'Months', 'Element Code', 'Element',
       'Unit', 'Y1961', 'Y1962', 'Y1963', 'Y1964', 'Y1965', 'Y1966', 'Y1967',
       'Y1968', 'Y1969', 'Y1970', 'Y1971', 'Y1972', 'Y1973', 'Y1974', 'Y1975',
       'Y1976', 'Y1977', 'Y1978', 'Y1979', 'Y1980', 'Y1981', 'Y1982', 'Y1983',
       'Y1984', 'Y1985', 'Y1986', 'Y1987', 'Y1988', 'Y1989', 'Y1990', 'Y1991',
       'Y1992', 'Y1993', 'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999',
       'Y2000', 'Y2001', 'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007',
       'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012', 'Y2013', 'Y2014', 'Y2015',
       'Y2016', 'Y2017', 'Y2018', 'Y2019', 'add'],
      dtype='object')

In [226]:
years = df.drop(columns=['Area Code', 'Months Code', 'Element Code','Unit', 'add'], axis = 1)

In [227]:
years

,Area,Months,Element,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,Afghanistan,January,Temperature change,0.777,0.062,2.744,-5.232,1.868,3.629,-1.432,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,Afghanistan,January,Standard Deviation,1.950,1.950,1.950,1.950,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,Afghanistan,February,Temperature change,-1.743,2.465,3.919,-0.202,-0.096,3.397,0.296,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,Afghanistan,February,Standard Deviation,2.597,2.597,2.597,2.597,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,Afghanistan,March,Temperature change,0.516,1.336,0.403,1.659,-0.909,-0.069,-0.759,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9651,OECD,Jun–Jul–Aug,Standard Deviation,0.247,0.247,0.247,0.247,0.247,0.247,0.247,...,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247
9652,OECD,Sep–Oct–Nov,Temperature change,0.036,0.461,0.665,-0.157,-0.203,-0.295,0.321,...,0.958,1.106,0.885,1.041,0.999,1.670,1.535,1.194,0.581,1.233
9653,OECD,Sep–Oct–Nov,Standard Deviation,0.378,0.378,0.378,0.378,0.378,0.378,0.378,...,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378
9654,OECD,Meteorological year,Temperature change,0.165,-0.009,0.134,-0.190,-0.385,-0.166,-0.090,...,1.246,0.805,1.274,0.991,0.811,1.282,1.850,1.349,1.088,1.297
9655,OECD,Meteorological year,Standard Deviation,0.260,0.260,0.260,0.260,0.260,0.260,0.260,...,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260

--------------------------

In [228]:
removed = years[['Area', 'Months', 'Element']]

In [229]:
years.drop(['Area', 'Months', 'Element'], axis= 1, inplace = True)

#### Fill nan in row by mean of row

In [230]:
index = years.index

for i in index:
    years.loc[i].fillna(float(format(years.loc[i].mean(),".3f")), inplace= True)

In [231]:
years = pd.concat([removed, years], axis= 1)

In [232]:
years.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8056 entries, 0 to 9655
Data columns (total 62 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Area     8056 non-null   object
 1   Months   8056 non-null   object
 2   Element  8056 non-null   object
 3   Y1961    8056 non-null   float64
 4   Y1962    8056 non-null   float64
 5   Y1963    8056 non-null   float64
 6   Y1964    8056 non-null   float64
 7   Y1965    8056 non-null   float64
 8   Y1966    8056 non-null   float64
 9   Y1967    8056 non-null   float64
 10  Y1968    8056 non-null   float64
 11  Y1969    8056 non-null   float64
 12  Y1970    8056 non-null   float64
 13  Y1971    8056 non-null   float64
 14  Y1972    8056 non-null   float64
 15  Y1973    8056 non-null   float64
 16  Y1974    8056 non-null   float64
 17  Y1975    8056 non-null   float64
 18  Y1976    8056 non-null   float64
 19  Y1977    8056 non-null   float64
 20  Y1978    8056 non-null   float64
 21  Y1979    8056 non-null   float64
 22  Y1980    8056 non-null   float64
 23  Y1981    8056 non-null   float64
 24  Y1982    8056 non-null   float64
 25  Y1983    8056 non-null   float64
 26  Y1984    8056 non-null   float64
 27  Y1985    8056 non-null   float64
 28  Y1986    8056 non-null   float64
 29  Y1987    8056 non-null   float64
 30  Y1988    8056 non-null   float64
 31  Y1989    8056 non-null   float64
 32  Y1990    8056 non-null   float64
 33  Y1991    8056 non-null   float64
 34  Y1992    8056 non-null   float64
 35  Y1993    8056 non-null   float64
 36  Y1994    8056 non-null   float64
 37  Y1995    8056 non-null   float64
 38  Y1996    8056 non-null   float64
 39  Y1997    8056 non-null   float64
 40  Y1998    8056 non-null   float64
 41  Y1999    8056 non-null   float64
 42  Y2000    8056 non-null   float64
 43  Y2001    8056 non-null   float64
 44  Y2002    8056 non-null   float64
 45  Y2003    8056 non-null   float64
 46  Y2004    8056 non-null   float64
 47  Y2005    8056 non-null   float64
 48  Y2006    8056 non-null   float64
 49  Y2007    8056 non-null   float64
 50  Y2008    8056 non-null   float64
 51  Y2009    8056 non-null   float64
 52  Y2010    8056 non-null   float64
 53  Y2011    8056 non-null   float64
 54  Y2012    8056 non-null   float64
 55  Y2013    8056 non-null   float64
 56  Y2014    8056 non-null   float64
 57  Y2015    8056 non-null   float64
 58  Y2016    8056 non-null   float64
 59  Y2017    8056 non-null   float64
 60  Y2018    8056 non-null   float64
 61  Y2019    8056 non-null   float64
dtypes: float64(59), object(3)
memory usage: 4.1+ MB

In [233]:
Temperature = years[years['Element'] == 'Temperature change']

In [234]:
Standard_Deviation = years[years['Element'] == 'Standard Deviation']

In [235]:
Standard_Deviation.drop('Element',axis= 1, inplace=True)

C:\Users\MohamedMagdy\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [236]:
Standard_Deviation

,Area,Months,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
1,Afghanistan,January,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
3,Afghanistan,February,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
5,Afghanistan,March,1.512,1.512,1.512,1.512,1.512,1.512,1.512,1.512,...,1.512,1.512,1.512,1.512,1.512,1.512,1.512,1.512,1.512,1.512
7,Afghanistan,April,1.406,1.406,1.406,1.406,1.406,1.406,1.406,1.406,...,1.406,1.406,1.406,1.406,1.406,1.406,1.406,1.406,1.406,1.406
9,Afghanistan,May,1.230,1.230,1.230,1.230,1.230,1.230,1.230,1.230,...,1.230,1.230,1.230,1.230,1.230,1.230,1.230,1.230,1.230,1.230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9647,OECD,Dec–Jan–Feb,0.491,0.491,0.491,0.491,0.491,0.491,0.491,0.491,...,0.491,0.491,0.491,0.491,0.491,0.491,0.491,0.491,0.491,0.491
9649,OECD,Mar–Apr–May,0.343,0.343,0.343,0.343,0.343,0.343,0.343,0.343,...,0.343,0.343,0.343,0.343,0.343,0.343,0.343,0.343,0.343,0.343
9651,OECD,Jun–Jul–Aug,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247,...,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247
9653,OECD,Sep–Oct–Nov,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378,...,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378
9655,OECD,Meteorological year,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,...,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260

In [237]:
months = Standard_Deviation.drop('Area', axis= 1)

In [238]:
months = months.groupby(by='Months').agg('mean').reset_index().T

## Is there any significant difference between seasons?

In [239]:
months[[3, 8, 10, 16]]

                 3            8            10           16
Months  Dec–Jan–Feb  Jun–Jul–Aug  Mar–Apr–May  Sep–Oct–Nov
Y1961      0.685564     0.415289     0.533305     0.466817
Y1962      0.685564     0.415289     0.533305     0.466817
Y1963      0.685564     0.415289     0.533305     0.466817
Y1964      0.685564     0.415289     0.533305     0.466817
Y1965      0.685564     0.415289     0.533305     0.466817
Y1966      0.685564     0.415289     0.533305     0.466817
Y1967      0.685564     0.415289     0.533305     0.466817
Y1968      0.685564     0.415289     0.533305     0.466817
Y1969      0.685564     0.415289     0.533305     0.466817
Y1970      0.685564     0.415289     0.533305     0.466817
Y1971      0.685564     0.415289     0.533305     0.466817
Y1972      0.685564     0.415289     0.533305     0.466817
Y1973      0.685564     0.415289     0.533305     0.466817
Y1974      0.685564     0.415289     0.533305     0.466817
Y1975      0.685564     0.415289     0.533305     0.466817
Y1976      0.685564     0.415289     0.533305     0.466817
Y1977      0.685564     0.415289     0.533305     0.466817
Y1978      0.685564     0.415289     0.533305     0.466817
Y1979      0.685564     0.415289     0.533305     0.466817
Y1980      0.685564     0.415289     0.533305     0.466817
Y1981      0.685564     0.415289     0.533305     0.466817
Y1982      0.685564     0.415289     0.533305     0.466817
Y1983      0.685564     0.415289     0.533305     0.466817
Y1984      0.685564     0.415289     0.533305     0.466817
Y1985      0.685564     0.415289     0.533305     0.466817
Y1986      0.685564     0.415289     0.533305     0.466817
Y1987      0.685564     0.415289     0.533305     0.466817
Y1988      0.685564     0.415289     0.533305     0.466817
Y1989      0.685564     0.415289     0.533305     0.466817
Y1990      0.685564     0.415289     0.533305     0.466817
Y1991      0.685564     0.415289     0.533305     0.466817
Y1992      0.685564     0.415289     0.533305     0.466817
Y1993      0.685564     0.415289     0.533305     0.466817
Y1994      0.685564     0.415289     0.533305     0.466817
Y1995      0.685564     0.415289     0.533305     0.466817
Y1996      0.685564     0.415289     0.533305     0.466817
Y1997      0.685564     0.415289     0.533305     0.466817
Y1998      0.685564     0.415289     0.533305     0.466817
Y1999      0.685564     0.415289     0.533305     0.466817
Y2000      0.685564     0.415289     0.533305     0.466817
Y2001      0.685564     0.415289     0.533305     0.466817
Y2002      0.685564     0.415289     0.533305     0.466817
Y2003      0.685564     0.415289     0.533305     0.466817
Y2004      0.685564     0.415289     0.533305     0.466817
Y2005      0.685564     0.415289     0.533305     0.466817
Y2006      0.685564     0.415289     0.533305     0.466817
Y2007      0.685564     0.415289     0.533305     0.466817
Y2008      0.685564     0.415289     0.533305     0.466817
Y2009      0.685564     0.415289     0.533305     0.466817
Y2010      0.685564     0.415289     0.533305     0.466817
Y2011      0.685564     0.415289     0.533305     0.466817
Y2012      0.685564     0.415289     0.533305     0.466817
Y2013      0.685564     0.415289     0.533305     0.466817
Y2014      0.685564     0.415289     0.533305     0.466817
Y2015      0.685564     0.415289     0.533305     0.466817
Y2016      0.685564     0.415289     0.533305     0.466817
Y2017      0.685564     0.415289     0.533305     0.466817
Y2018      0.685564     0.415289     0.533305     0.466817
Y2019      0.685564     0.415289     0.533305     0.466817

# What is the trend of temperature change in the world?

In [240]:
monthsTemp = Temperature.drop('Area', axis= 1)
groupMonthTemp = monthsTemp.groupby(by='Months').agg('mean').reset_index().T
groupMonthTemp

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
Months,April,August,December,Dec–Jan–Feb,February,January,July,June,Jun–Jul–Aug,March,Mar–Apr–May,May,Meteorological year,November,October,September,Sep–Oct–Nov
Y1961,0.421527,0.010903,-0.119487,0.218546,0.238338,0.128596,-0.015954,0.203456,0.066887,0.265253,0.316734,0.262381,0.174629,-0.019803,0.116846,0.173167,0.090117
Y1962,-0.008904,0.074672,-0.198187,-0.008517,-0.059917,0.156738,-0.043617,-0.188812,-0.053314,-0.212101,-0.133591,-0.184213,-0.013439,0.087715,0.221896,0.073427,0.129163
Y1963,-0.012431,0.129937,-0.165596,-0.270621,-0.156742,-0.456854,0.166037,0.038766,0.110736,-0.251329,-0.175308,-0.25395,-0.019498,0.335088,0.18865,0.242264,0.256059
Y1964,0.121402,-0.217639,-0.452254,-0.118262,0.026667,-0.216896,-0.192396,-0.057021,-0.153544,0.234983,0.147422,0.066741,-0.088059,-0.153515,-0.352412,-0.177017,-0.226393
Y1965,-0.475657,-0.235345,0.048258,-0.308629,-0.376917,-0.096321,-0.263054,-0.061435,-0.185732,-0.238287,-0.316076,-0.234243,-0.234857,-0.150498,-0.060379,-0.189916,-0.132749
Y1966,0.141326,0.064996,-0.017112,0.262033,0.547729,0.189829,0.036796,0.191582,0.096272,0.002481,0.044835,-0.011059,0.102865,-0.086556,0.129883,-0.024552,0.006004
Y1967,-0.307155,-0.042139,-0.4275,-0.151487,-0.159754,-0.277321,-0.015142,-0.332414,-0.128854,-0.146793,-0.151582,-0.00072,-0.107949,-0.035423,0.110412,-0.090628,-0.004979
Y1968,-0.220891,-0.136462,0.143575,-0.455042,-0.466262,-0.471125,-0.036271,-0.229276,-0.133561,-0.235785,-0.241371,-0.273126,-0.201198,0.132477,0.025679,-0.084937,0.024096
Y1969,0.144849,0.064513,-0.056079,0.0175,-0.168429,0.077662,0.083808,0.154259,0.100243,0.289401,0.290873,0.439272,0.128633,0.070163,0.201637,0.061494,0.111766
Y1970,0.192845,0.093836,-0.213017,0.154379,0.182762,0.336667,0.013138,0.290891,0.131351,-0.127312,0.042755,0.067393,0.082388,0.060866,-0.079183,0.031695,0.00418
Y1971,-0.15372,-0.079025,-0.052237,-0.113554,-0.0851,-0.042246,-0.056142,-0.298226,-0.145259,-0.393544,-0.183447,-0.005218,-0.180949,-0.409979,-0.271312,-0.175699,-0.284059
Y1972,-0.068213,-0.136525,0.231137,-0.182496,-0.321954,-0.173,0.147913,-0.009536,0.000109,0.028156,-0.068886,-0.160205,-0.068414,0.124343,0.002529,-0.169791,-0.01413
Y1973,0.226937,0.17066,-0.458558,0.423829,0.569075,0.471221,0.301808,0.284033,0.2511,0.455899,0.355,0.382912,0.237629,-0.379096,-0.036346,0.200473,-0.071757
Y1974,-0.198598,0.000504,-0.074254,-0.155821,-0.06035,0.054142,-0.153446,-0.101841,-0.086042,0.022477,-0.134755,-0.227452,-0.161591,-0.07623,-0.460088,-0.255623,-0.264527
Y1975,0.094824,0.032584,-0.433104,0.076738,0.085087,0.215587,0.038717,-0.047808,0.007699,-0.005755,0.020489,-0.023552,-0.004072,-0.301607,-0.240883,0.130297,-0.141527
Y1976,-0.329615,-0.29837,0.048983,-0.309629,-0.234129,-0.270479,-0.061717,-0.125611,-0.1621,-0.581266,-0.359793,-0.154393,-0.23216,-0.062272,-0.006467,-0.218523,-0.101029
Y1977,0.028444,0.034277,0.367588,0.190663,0.533379,-0.011017,0.200588,0.099222,0.106364,0.594608,0.223937,0.050607,0.173932,0.286167,0.222317,0.008569,0.17182
Y1978,0.006238,-0.07784,0.338138,0.239542,0.166067,0.184183,-0.0287,-0.093665,-0.067711,0.252304,0.122262,0.115782,0.06038,-0.168791,0.059992,-0.028017,-0.046293
Y1979,0.133289,0.156966,0.418275,0.272304,0.308942,0.16845,0.084633,0.355895,0.201126,0.280789,0.16311,0.075205,0.218785,0.263954,0.332271,0.143117,0.244347
Y1980,0.374506,0.227756,-0.054783,0.305396,0.347083,0.150083,0.105412,0.247552,0.192213,0.243789,0.286565,0.240703,0.250709,0.24949,0.175717,0.247251,0.223167
Y1981,0.356347,0.237294,0.297038,0.078442,0.246104,0.047004,0.130096,0.184469,0.185155,0.688114,0.38392,0.119816,0.196857,0.051992,0.142471,0.228962,0.140632
Y1982,0.133473,0.154105,0.061146,0.192529,0.017621,0.266271,0.294679,0.248736,0.233519,0.093658,0.116059,0.122126,0.167203,-0.03077,0.089646,0.353201,0.137866
Y1983,0.460983,0.325311,0.154404,0.15565,0.049813,0.367513,0.628746,0.360305,0.436431,0.437131,0.471675,0.524343,0.339557,0.320423,0.128596,0.414866,0.287004
Y1984,0.260699,0.081445,-0.034687,0.087571,0.024479,0.079942,0.078383,-0.043113,0.036469,0.075118,0.136443,0.083452,0.094316,0.189515,0.168508,-0.037569,0.107414
Y1985,0.071176,0.314971,0.216004,-0.156312,-0.25325,-0.186421,0.163617,0.085155,0.188452,0.02892,0.130996,0.286577,0.066789,0.012787,0.135167,0.17654,0.108791
Y1986,0.26687,0.258189,0.019646,0.039117,-0.251425,0.151704,0.114371,0.24987,0.205276,0.111401,0.265165,0.422435,0.150987,0.015741,0.202267,0.071163,0.096172
Y1987,0.590657,0.41192,0.795908,0.240879,0.630554,0.070521,0.630883,0.282113,0.444707,-0.072624,0.285544,0.336201,0.379278,0.587377,0.352333,0.691117,0.541444
Y1988,0.46754,0.460693,0.1181,0.748138,0.554692,0.899167,0.548492,0.434594,0.480439,0.364089,0.507203,0.682117,0.474759,-0.159205,0.292175,0.342406,0.156
Y1989,0.338209,0.430546,0.418633,0.099396,0.074338,0.105913,0.391875,0.142213,0.323008,0.345405,0.348722,0.346192,0.264565,0.309623,0.2592,0.283862,0.284351
Y1990,0.382661,0.617399,0.575696,0.650558,0.917817,0.61675,0.405925,0.477397,0.499866,0.706667,0.542089,0.531356,0.571511,0.751305,0.667633,0.331084,0.586444
Y1991,0.315167,0.505996,0.018792,0.478821,0.269596,0.582871,0.49485,0.331013,0.445937,0.80927,0.363878,-0.045427,0.384325,0.143603,0.078717,0.475975,0.232837
Y1992,0.376247,0.352933,0.300625,0.191725,0.271062,0.292575,0.06295,0.392393,0.268632,0.404321,0.380021,0.342343,0.22762,0.153837,-0.081983,0.13628,0.066561
Y1993,0.403619,0.316538,0.6557,0.207404,0.084388,0.236533,0.297958,0.411879,0.338686,0.162177,0.342747,0.460305,0.256329,0.048096,0.289971,0.083556,0.132774
Y1994,0.604318,0.547794,0.554842,0.54285,0.212004,0.759192,0.592275,0.431937,0.520238,0.716878,0.651468,0.622184,0.552232,0.761238,0.276821,0.391728,0.472983
Y1995,0.449385,0.767378,0.28205,0.682092,0.940629,0.549821,0.796212,0.654393,0.736469,0.398042,0.471654,0.565406,0.600924,0.336368,0.712238,0.442167,0.501628
Y1996,0.342757,0.480105,0.375704,0.401025,0.286062,0.628637,0.356479,0.440414,0.426163,0.185489,0.322392,0.434264,0.349802,0.328,0.272933,0.161155,0.255017
Y1997,0.025167,0.761126,0.926358,0.484175,0.564142,0.502379,0.618329,0.621615,0.661987,0.542852,0.349861,0.479502,0.532042,0.804933,0.488021,0.64631,0.638636
Y1998,1.221996,1.008189,0.749696,1.161796,1.531508,1.007479,0.973646,1.037669,1.008548,0.892937,1.056979,1.03031,0.980367,0.532711,0.745821,0.751,0.667079
Y1999,0.798113,0.669668,0.446912,0.75135,0.622037,0.885667,0.73255,0.767611,0.721937,0.71346,0.763743,0.771502,0.714274,0.519272,0.504829,0.776895,0.602519
Y2000,0.890117,0.721529,0.729463,0.436329,0.481458,0.388958,0.549621,0.64241,0.638184,0.473055,0.7083,0.770226,0.583055,0.57154,0.50945,0.559925,0.549845
Y2001,0.710176,0.992693,0.622104,0.696937,0.611329,0.753779,0.754883,0.607222,0.785787,1.005274,0.846814,0.811008,0.762034,0.526372,1.008037,0.558628,0.692351
Y2002,0.814573,0.867727,0.7601,0.9038,1.253617,0.830913,0.959929,0.829243,0.889603,1.18608,0.959696,0.865121,0.860819,0.790686,0.606933,0.649059,0.68154
Y2003,0.877586,1.067462,0.744337,0.757279,0.679358,0.824321,0.931338,1.051414,1.016042,0.834924,0.961367,1.156008,0.879498,0.898879,0.667942,0.727364,0.768866
Y2004,0.871711,0.840088,0.798913,0.816538,0.914746,0.774613,0.518817,0.611833,0.657439,0.964873,0.750911,0.40841,0.749278,0.763983,0.881263,0.659025,0.768828
Y2005,1.091632,0.812765,0.793458,0.746454,0.613788,0.829679,0.921833,0.987423,0.902762,0.980713,0.995367,0.912406,0.872253,0.759297,0.817825,0.942464,0.842197
Y2006,0.911715,0.786731,0.925421,0.775325,0.87215,0.663388,1.173946,0.967377,0.977498,0.64219,0.78489,0.775021,0.883637,0.868444,1.195367,0.921523,0.992586
Y2007,1.147808,0.796088,0.652142,1.147125,1.299871,1.216146,0.858963,1.044615,0.902414,1.099397,1.106793,1.06705,0.952046,0.529715,0.664425,0.730699,0.641184
Y2008,0.725285,0.854185,0.696183,0.587029,0.587717,0.521242,0.8531,0.727749,0.813238,0.957751,0.815207,0.752444,0.746574,0.773536,0.7734,0.712506,0.757594
Y2009,0.886527,1.11129,0.998904,0.764129,0.925779,0.6639,0.981525,0.939661,1.011498,0.694781,0.849844,0.947665,0.890561,0.975067,0.843958,1.002013,0.940293
Y2010,1.315322,1.119878,0.3632,1.071708,1.294238,0.908779,1.2408,1.11741,1.157418,1.359422,1.282565,1.153699,1.106418,0.902707,0.841575,0.933837,0.890569
Y2011,1.086669,0.949462,0.704733,0.565404,0.698471,0.627908,0.834513,0.983774,0.919753,0.614519,0.870034,0.893628,0.808827,0.776096,0.738146,1.094669,0.869778
Y2012,0.773954,1.086718,0.676538,0.483283,0.128708,0.603529,0.947142,1.046109,1.029075,0.881346,0.871464,0.958464,0.850076,1.134238,0.963833,0.92059,1.007356
Y2013,0.858946,0.925021,0.790321,0.889725,0.972304,1.008371,0.981612,0.933653,0.946255,0.88803,0.874245,0.860289,0.910173,0.965146,0.90235,0.88236,0.917456
Y2014,1.276946,0.903395,0.974683,1.023971,1.076213,1.2085,1.070537,1.080586,1.018389,1.152101,1.116439,0.898126,1.061435,1.051121,1.139408,0.987573,1.060326
Y2015,1.030791,1.381231,1.574508,1.025462,1.063392,1.033317,1.330892,1.081883,1.271088,1.142114,1.14735,1.249967,1.210004,1.465444,1.363088,1.261071,1.364452
Y2016,1.607444,1.334819,1.336838,1.552021,1.740033,1.325467,1.293771,1.290188,1.30649,1.652755,1.501713,1.232038,1.399987,1.065979,1.205075,1.356138,1.210331
Y2017,1.173921,1.374824,1.115208,1.185,1.283175,0.928258,1.37875,1.369824,1.375812,1.360857,1.29308,1.33436,1.263924,0.969678,1.240204,1.285653,1.168142
Y2018,1.388347,1.284601,1.2788,1.069071,0.855642,1.234037,1.310058,1.155987,1.252444,1.224384,1.306595,1.287874,1.211924,1.204293,1.089233,1.249079,1.189494
Y2019,1.351243,1.445324,1.619658,1.27165,1.399487,1.126667,1.3541,1.661745,1.487251,1.378835,1.282338,1.095975,1.361612,1.389757,1.368071,1.328649,1.360498

In [241]:
tem_df = pd.read_csv('Temperature_change_Data.csv')

In [242]:
tem_df.drop('Country Code', axis= 1, inplace=True)

In [243]:
last_ten_years = tem_df[tem_df['year']>= 2009]

### What are the ten countries that suffer from temperature change at the very least in the last ten years?

In [244]:
last_ten_years.groupby('Country Name').mean()['tem_change'].sort_values().head(10)

Country Name
Pitcairn Islands                               -0.036500
South Georgia and the South Sandwich Islands    0.162545
Marshall Islands                                0.297909
Wake Island                                     0.378700
Chile                                           0.427182
Micronesia (Federated States of)                0.460273
Burundi                                         0.628000
Norfolk Island                                  0.629222
French Southern and Antarctic Territories       0.636909
Zimbabwe                                        0.649364
Name: tem_change, dtype: float64

### What are the ten most countries that suffer from temperature change mostly in the last ten years?

In [245]:
last_ten_years.groupby('Country Name').mean()['tem_change'].sort_values(ascending=False).head(10)

Country Name
Svalbard and Jan Mayen Islands    3.167000
Kuwait                            1.873545
Bahrain                           1.862364
Slovenia                          1.835455
Belarus                           1.804727
Austria                           1.792909
Russian Federation                1.786273
Eastern Europe                    1.774727
Estonia                           1.734182
Ukraine                           1.728000
Name: tem_change, dtype: float64